<nav id="sidebar">
  <div class="sidebar-header">
    <h3>ATMS</h3>
  </div>

  <ul class="list-unstyled components">
    <p class="text-center">Menu</p>
    <li class="{{'active' if curPage=='airlines' else ''}}">
      <a href="airlines">Airlines</a>
    </li>
    <li class="{{'active' if curPage=='airplanes' else ''}}">
      <a href="airplanes">Airplanes</a>
    </li>
    <li class="{{'active' if curPage=='airports' else ''}}">
      <a href="airports">Airports</a>
    </li>
    <li class="{{'active' if curPage=='flights' else ''}}">
      <a href="flights">Flights</a>
    </li>
    <li class="{{'active' if curPage=='reservations' else ''}}">
      <a href="reservations">Reservations</a>
    </li>
  </ul>
</nav>